html, body {
    background-color: mediumpurple;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

input {
    margin-top: 0.1rem !important;
}

.btn.btn-primary {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}