html, body {
    background: mediumpurple;
}

p {
    margin: 0;
}

.navbar-nav a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.form-control {
    margin-bottom: 0.5rem;
}